@font-face
		{
			font-family: MySegoe;
			src: url(./SegoeWPN-Light.ttf);
		}
		
		@font-face{
			font-family:HelveticaNeueUltraLigExt;
			src: url(./HelveticaNeueUltraLight/HelveticaNeue-UltraLigExt.otf);
		}
			
		@font-face
		{
			font-family:MyTypewriter;
			src: url(./itc-american-typewriter-lt-medium-alternate.ttf);
		}
		
		@font-face
		{
			font-family:MyAdobe;
			src: url(./AdobeGaramondPro.ttf);
		}
		
		#top{
			width:100%;
			height:15px;
			background-color:black;
			position:fixed;
			top:0;
		}
		#bottom{
			width:100%;
			height:15px;
			background-color:black;
			position:fixed;
			bottom:0;
		}
		
		#content{
			width: 100%;
			min-height: 100%;
			border: 15px solid #242625;	
			position: relative;	
		}
		
		.wrapper{
			width: 100%;
			min-height: 100%;	
		}
		
		#wrapper{
			padding: 100px 0 20px;	
		}
		
		#title{
			font-family: HelveticaNeueUltraLigExt;
			font-size: 20;
			letter-spacing: 12;
			float: left;
		}
		
		#nav-list{
			font-family: MySegoe;
			font-size: 20px;
			text-align: right;
			padding: 0;
		}
		
		#nav-list ul li{
			line-height: 1;
			height: 30px;
		}
		
		#nav-list ul li.active a{
			background-color: transparent;
			border-radius: 0;
			color: #B6B6B6;
		}
		
		#nav-list ul li a{
			background-color: transparent;
			border-radius: 0;
			color: black;
			margin-top: 0;
		}
		
		#nav-list ul li a:hover{
			font-size: 21px;
		}
		
		#nav-list ul li.active a:hover{
			font-size: 20px;
		}
		
		#line{
			margin: 30px 0 20px 0;	
		}
		
		#home-content h1{
			text-align: right;
			font-family: MyAdobe;	
		}
		
		#home-content p{
			text-align: right;
			font-family: MyAdobe;
			font-size: 20px;	
		}
		
		#line2{
			margin: 100px 0 20px 0;
		}
		
		#copyright{
			text-align: center;	
		}
		
		footer em{
			opacity: 0.3;	
		}